:root {
    --appBlue: rgb(43,89,173);
    --appGreen: #2ab347;
    --appFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} 
body {
    background: linear-gradient(to right, var(--appBlue), var(--appGreen));
    color: white;
    font-family: var(--appFont);
}
form {
    min-height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-input {
    width: 400px;
}
.todo-input, .button {
    border: none;
    padding: 7px;
    font-size: 25px;
    background-color: white;
    outline: none;
    
}
.button {
    color:  var(--appBlue);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.button:hover {
    color: white;
    background-color: var(--appBlue);
    outline: none;
}
.button:focus {
    outline: none;
}
.todo-container {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
}
.todo-list {
    width: 435.88px;
}

.todo-item {
    min-height: 30px;
    background-color: white;
    font-size: 22px;
    list-style: none;
    color: black;
    justify-content: space-between;
    margin-bottom: 15px;
    display: flex;
    transition: all 0.3s ease;
    flex-wrap: wrap;
    word-break: break-all;
    animation-name: appearance;
    animation-duration: 0.4s;
}
@keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}
.todo-text {
    flex: 1;
    align-self: center;
    padding: 0px 7px;
}
.completed-btn, .trash-btn {
    padding: 5px;
    background-color: var(--appGreen);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    outline: none;
}
.completed-btn:focus, .trash-btn:focus {
    outline: none;
}
.trash-btn {
    background-color: var(--appBlue);
}
.fa-check, .fa-trash {
    padding: 3px;
    pointer-events: none;
}
.completed {
    opacity: 0.5;
    text-decoration: line-through;
}
.disappear {
    transform: translateX(100%);
    opacity: 0;
}
#title {
    position: fixed;
    right: 30px;
    bottom: 10px;
    color: white;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 0.3;
}
@media only screen and (max-width: 450px) {
    .todo-input {
        width: 300px;
        font-size: 20px;
    }
    .button {font-size: 20px;}
    .todo-list {width: 335.88px;}
    .todo-item {font-size: 15px;}
}
@media only screen and (max-width: 320px) {
    .todo-input {
        width: 260px;
        font-size: 20px;
    }
    .button {font-size: 20px;}
    .todo-list {width: 295.88px;}
    .todo-item {font-size: 15px;}
}